<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.0.0.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/popper.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <title>@ViewBag.Title</title>

</head>
<body>
    <div class="container-fluid">
        <div class="card">
            <div class="card-header ">
                Header
            </div>
            <div class="card-title ">
                <div class="row">
                    <div class="col-md-8">
                            <ul class="nav list-group-horizontal">
                                <li class="nav-item list-group-item " >
                                    @Html.ActionLink("Quản lý NXB", "IndexNXB", "nhaxuatban")
                                </li>
                                <li class="nav-item list-group-item ">
                                    @Html.ActionLink("Quản lý TÁCGIẢ", "IndexTG", "tacgia")
                                </li>
                                <li class="nav-item list-group-item ">
                                    @Html.ActionLink("Quản lý THỂLOẠI", "IndexTL", "theloai")
                                </li>
                                <li class="nav-item list-group-item ">
                                   @Html.ActionLink("Quản lý SÁCH", "IndexS", "sach")
                                </li>
                            </ul>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="col-md-12">

                    @RenderBody()


                </div>
            </div>
            <div class="card-footer ">
                Footer
            </div>

        </div>
        
    </div>
    
</body>
</html>
